@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;900&family=Varela+Round&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
}

li,
a,
label {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
}

.nav_card {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 5%;
    background-color: #1a1a40;
    position: relative;
}

.logo {
    cursor: pointer;
    color: #fbf8f1;
    font-size: 24px;
    margin-right: auto;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li,
a {
    color: #fbf8f1;
    transition: all 0.3s ease 0s;
}

.active {
    color: #ffadf0;
}

.nav_links li,
a:hover {
    color: #ffadf0;
}

.btn_register {
    padding: 9px 25px;
    background-color: #fbf8f1;
    color: #1a1a40;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-weight: 500;
    font-size: 16px;
}

.btn_register:hover {
    background-color: #ffadf0;
    color: #fbf8f1;
}

.h_products {
    padding: 10px;
}